{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 80vh; padding-left: 0; padding-right: 0">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Добавить пассажира</h1>
                <form id="passengerForm" method="post"> {% csrf_token %} {{ form.as_p }} <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Пассажир был успешно добавлен.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Подключаем локальный файл jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#passengerForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '',
                data: $(this).serialize(),
                success: function (response) {
                    $('#successModal').modal('show');
                },
                error: function (response) {
                    alert('Ошибка при добавлении пассажира.');
                }
            });
        });
    });
</script>
{% endblock content %}
